:host {
    .core-settings-general-font-size ion-segment {
        max-width: 250px;
    }

    .core-language-header {
        padding-left: 15px;
        img {
            width: 86px;
        }
    }
}
